<%= form_with(model: meeting_note) do |form| %>
  <% if meeting_note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meeting_note.errors.count, "error") %> prohibited this meeting_note from being saved:</h2>

      <ul>
        <% meeting_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, class: "styled-text-box"%>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>




  <div class="button-group">
    <%= link_to meeting_notes_path do %>
      <button class="links-button with-text danger-button button-group-left cursor-pointer"><i class="fa fa-arrow-left"></i> Back</button>
    <% end %>
    <%= form.button class: 'links-button neutral-button button-group-right cursor-pointer', type: :submit %>
  </div>



<% end %>
