<div id="<%= dom_id meeting_note %>">
  <p>
    <strong>Title:</strong>
    <%= meeting_note.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= meeting_note.content %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= meeting_note.date %>
  </p>

  <p>
    <strong>Alumni:</strong>
    <%= meeting_note.alumni_id %>
  </p>

</div>
