

<div id="meeting_notes">
<div class ="hero">
<h1>Meeting notes</h1>

  <%= link_to help_meeting_notes_path do %>
    <button class="links-button with-text help-button"><i class="fa fa-question-circle"></i> Help</button>
  <% end %>

<%= form_tag(basic_search_meeting_note_path, method: :get, class: 'form-inline') do %>
  <div class="form-group">
    <%= date_field_tag(:search_date, params[:search_date], class: 'form-control', placeholder: 'Enter Date') %>
    <%= submit_tag('Search', class: 'btn search-button') %>
    </div>
<% end %>

<table id = "links">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% @meeting_notes.each do |meeting_note| %>
    <tr>
          <td><%= meeting_note.title %></td>
          <td>
            <div class="truncate-content">
              <%= meeting_note.content %>
            </div>
          </td>
          <td><%= meeting_note.date %></td>
          <td class="align-center small-col"><%= link_to "View", meeting_note_path(meeting_note) %></td>
          <% if current_user.is_admin? %>
          <td class="align-center small-col">
            <%= button_to edit_meeting_note_path(meeting_note), class: 'neutral-button prayer-request-button cursor-pointer', method: :get do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
          <%end%>
          <!-- Delete button -->
          <% if current_user.is_admin? %>
          <td class="align-center small-col">
            <%= button_to meeting_note_path(meeting_note), method: :delete, class: 'danger-button prayer-request-button cursor-pointer' do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
          <%end%>
    </tr>
    <%end%>
    </tbody>
    </table>
    <% if current_user && current_user.is_admin? %>
        <div>
        <br>
        <%= link_to new_meeting_note_path do %>
          <button class="success-button links-button with-text cursor-pointer">
            <i class="fas fa-plus"></i> New Meeting note
          </button>
        <% end %>
      </div>

<%end%>

    </div>

</div>
