<h1>Meeting notes</h1>
<%= link_to "Back to Directory", current_user %>

<%= form_tag(basic_search_meeting_note_path, method: :get, class: 'form-inline') do %>
  <div class="form-group">
    <%= date_field_tag(:search_date, params[:search_date], class: 'form-control', placeholder: 'Enter Alumni Name') %>
    <%= submit_tag('Search', class: 'btn btn-primary') %>
    </div>
<% end %>

<div id="meeting_notes">
  <% @meeting_notes.each do |meeting_note| %>
    <%= render meeting_note %>
    <p>
      <%= link_to "Show this meeting note", meeting_note %>
    </p>
  <% end %>
</div>

<%= link_to "New meeting note", new_meeting_note_path %>
