<div class ="hero">
<h1>Search Meeting Notes by Date</h1>

<%= form_tag basic_search_meeting_note_path, method: :get, class: "form-inline" do %>
  <div class="form-group">
    <%= label_tag :search_date, "Search by Date:" %>
    <%= text_field_tag :search_date, params[:search_date], class: "form-control" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @meeting_notes2 %>
    <%if @meeting_notes2 == nil %>
        <p>No meeting notes found for the given date.</p>
    <% else %>
        
            <table id = "links">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                <% @meeting_notes2.each do |meeting_note| %>
                    <tr>
                        <td><%= meeting_note.title %></td>
                        <td><%= meeting_note.content %></td>
                        <td><%= meeting_note.date %></td>
                    </tr>
                <%end%>
                </tbody>
            </table>
        </div>
    <% end %>
  
<% end %>