<div id="<%= dom_id alumni %>">
<h1></h1>
  <p>

    <strong>Name:</strong> <%= alumni.alum_first_name %> <%= alumni.alum_last_name %> <br>
    <strong>Email:</strong> <%= alumni.alum_email %> <br>
    <strong>Phone Number:</strong> <%= alumni.alum_ph_num %> <br>
    <strong>Class Year:</strong> <%= alumni.alum_class_year %> <br>
    <strong>Major:</strong> <%= alumni.alum_major %> <br>
    <strong>Current Job:</strong> <%= alumni.alum_job_field %> <br>
    <strong>Current City:</strong> <%= alumni.alum_location %> <br>
</div>
