<%= form_with(model: alumni) do |form| %>
  <% if alumni.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(alumni.errors.count, "error") %> prohibited this alumni from being saved:</h2>

      <ul>
        <% alumni.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label :alum_first_name, "First Name", style: "display: block" %>
    <%= form.text_field :alum_first_name %>
  </div>


  <div>
    <%= form.label :alum_last_name, "Last Name", style: "display: block" %>
    <%= form.text_field :alum_last_name %>
  </div>

  <div>
    <%= form.label :alum_email, "Email", style: "display: block" %>
    <%= form.text_field :alum_email %>
  </div>
  
  
  <div>
    <%= form.label :alum_ph_num, "Phone Number", style: "display: block" %>
    <%= form.text_field :alum_ph_num %>
  </div>


  <div>
    <%= form.label :alum_class_year, "Class Year", style: "display: block" %>
    <%= form.text_field :alum_class_year %>
  </div>

  
  <div>
    <%= form.label :alum_job_field, "Current Job Title", style: "display: block" %>
    <%= form.text_field :alum_job_field %>
  </div>


  <div>
    <%= form.label :alum_location, "Current City", style: "display: block" %>
    <%= form.text_field :alum_location %>
  </div>


  <div>
    <%= form.label :alum_status, "Status", style: "display: block" %>
    <%= form.text_field :alum_status %>
  </div>


  <div>
    <%= form.label :alum_major, "College Major", style: "display: block" %>
    <%= form.text_field :alum_major %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
