<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red;">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="input-container">
      <label style="color: black;">First Name<span style="color: red;">*</span></label>
      <%= form.text_field :user_first_name, class: 'user-input' %>
    </div>

    <div class="input-container">
      <label style="color: black;">Last Name<span style="color: red;">*</span></label>
      <%= form.text_field :user_last_name, class: 'user-input' %>
    </div>
  </div>

  <br>

  <div class="form-group">
    <div class="input-container">
      <label style="color: black;">Contact Email</label>
      <%= form.text_field :user_contact_email, class: 'user-input' %>
    </div>

    <div class="input-container">
      <label style="color: black;">Phone Number</label>
      <%= form.text_field :user_ph_num, class: 'user-input' %>
    </div>
  </div>

  <br>

  <div class="form-group">
    <div class="input-container">
      <label style="color: black;">College Major</label>
      <%= form.text_field :user_major, class: 'user-input' %>
    </div>

    <div class="input-container">
      <label style="color: black;">Class Year</label>
      <% current_year = Date.today.year %>
      <%= form.select :user_class_year, options_for_select((current_year - 100..current_year + 4).to_a.reverse.map { |year| [year.to_s, year] }, @user.user_class_year), include_blank: true %>
    </div>

    <div class="input-container">
      <label style="color: black;">Status</label>
      <%= form.select :user_status, options_for_select(["Student", "Alumnus"], @user.user_status), include_blank: true %>
    </div>
  </div>

  <br>

  <div class="form-group">
    <div class="input-container">
      <label style="color: black;">Current Job Title</label>
      <%= form.text_field :user_job_field, class: 'user-input' %>
    </div>

    <div class="input-container">
      <label style="color: black;">Current City</label>
      <%= form.text_field :user_location, class: 'user-input' %>
    </div>
  </div>


  <label style="color: red;">*<span style="color: black;"> Required Fields</span></label>
  <br>
  <br>

  <div>
    <%= link_to "Save Profile", "#", class: "save-button", onclick: "document.forms[0].submit(); return false;" %>
    <% if current_user.user_first_name.nil? %>
    <% else %>
      <span><%= link_to "Cancel", @user, class: "save-button" %></span>
    <% end %>
  </div>
</div>
<% end %>

