<div id="<%= dom_id user %>">
<h1></h1>
  <p>

    <strong>Name:</strong> <%= user.user_first_name %> <%= user.user_last_name %> <br>
    <strong>Contact Email:</strong> <%= user.user_contact_email %> <br>
    <strong>Phone Number:</strong> <%= user.user_ph_num %> <br>
    <strong>Class Year:</strong> <%= user.user_class_year %> <br>
    <strong>Major:</strong> <%= user.user_major %> <br>
    <strong>Current Job:</strong> <%= user.user_job_field %> <br>
    <strong>Current City:</strong> <%= user.user_location %> <br>
</div>
