<h1>Search Directory</h1>
<%= form_tag(basic_search_user_path, method: :get, class: 'form-inline') do %>
  <div class="form-group">
  <%= text_field_tag(:search_name, params[:search_name], class: 'form-control', placeholder: 'Enter Alumni Name') %>
  <%= submit_tag('Search', class: 'btn btn-primary') %>
  </div>
<% end %>

<% if @results %>
  <% if @results.empty? %>
    <p> No results found.</p>
  <% else %>
    <h2>Search Results</h2>
    <div>
      <% @results.each_with_index do |user, index| %>
        <p>
          <%= user.user_first_name %> <%= user.user_last_name %> <br>
          <%= link_to "View Profile", user %>
        </p>
        <% unless index == @results.size - 1 %>
          <hr>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>