<div class="margins">
  <h1>Association of Baptist Student's Alumni Directory</h1>

  <%= form_tag(basic_search_user_path, method: :get, class: 'form-inline') do %>
    <div class="form-group">
      <%= text_field_tag(:search_name, params[:search_name], class: 'search-input', placeholder: 'Enter Alumni Name') %>
      <%= submit_tag('Search', class: 'btn search-button') %>
    </div>
  <% end %>

  <%= link_to "Advanced Search", search_user_path, class: "maroon-link" %>
  <br>
  <br>

  <div id="users">
    <% approved_users = @users.select { |user| user.approval_status == 1 } %>
    <% sorted_users = approved_users.sort_by { |user| user.user_last_name } %>
    <% sorted_users.each_with_index do |user, index| %>
      <div class="user-item">
        <p style="display: flex; justify-content: space-between; align-items: center;">
          <a href="<%= user_path(user) %>" style="text-decoration: none; color: inherit;">
            <span style="font-size: 20px;"><%= user.user_first_name %> <%= user.user_last_name %></span>
          </a>
          <%= link_to "View Profile", user, class: "view-button" %>
        </p>
      </div>
      <% unless index == sorted_users.size - 1 %>
        <hr>
      <% end %>
    <% end %>
  </div>
  <br>
</div>