<h2>Search Directory</h2>

<%= form_tag search_user_path, method: :get do %>
  <div class="form-group">
    <%= label_tag 'First Name' %>
    <%= text_field_tag 'first_name', params[:first_name], class: 'form-control', placeholder: 'Enter First Name' %>
  </div>
  
  <div class="form-group">
    <%= label_tag 'Last Name' %>
    <%= text_field_tag 'last_name', params[:last_name], class: 'form-control', placeholder: 'Enter Last Name' %>
  </div>

  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<% if @results %>
  <% if @results.empty? %>
    <p> No results found.</p>
  <% else %>
    <h2>Search Results</h2>
    <ul>
      <% @results.each do |user| %>
        <li>
          <%= user.user_first_name %> <%= user.user_last_name %> <br>
          <%= link_to "View Profile", user %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
