
<!-- main_links | user_profile -->
<div class="navbar">
  <div class="navbar-left">
    <div class="builtin-links quick-links">
      <%= link_to "Home", root_path, class: 'navbar-link' %>
      <%= link_to "Meeting Notes", meeting_notes_path, class: 'navbar-link' %>
      <%= link_to "Prayer Requests", prayer_requests_path, class: 'navbar-link' %>
      <% if current_user && current_user.is_admin? %>
        <%= link_to "Approvals", approvals_index_path, class: 'navbar-link'  %>
        <%= link_to "Links", links_path, class: 'navbar-link' %>
      <%end%>
    </div>
  </div>
  <div class="navbar-mid">
    <div class="navbar-logo">
      <img src="https://lirp.cdn-website.com/49b47ae5/dms3rep/multi/opt/Layer_1-120w.png" style="width: 100px; aspect-ratio: auto" />
    </div>
  </div>
  <div class="navbar-extra">
    <div class="extra-links quick-links">
      <%= link_to 'Google Calendar', google_calendar_path, class: 'navbar-link' %>
      <% if @links != nil %>
        <% @links.each do |link| %>
          <%= sanitize link_to(link.label, link.url, target: :blank, class: 'navbar-link') %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="navbar-right">
    <% if current_user != nil %>
      <h3 class="login-text">
        <%= link_to user_path(current_user), class: 'navbar-user-icon-link' do %>
          <%= image_tag(current_user.avatar_url.present? ? current_user.avatar_url : 'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg?20200418092106', alt: 'User Avatar', class: 'navbar-user-icon') %>
        <% end %>
        <%= link_to current_user.full_name, user_path(current_user), class: 'navbar-user-name navbar-link' %>
        <div class="navbar-user-separator"></div>
        <%= link_to "Log Out", destroy_user_session_path, class: 'navbar-user-logout navbar-link' %>
      </h3>
    <% end %>
  </div>
</div>






