<div class="user-bar">
  <div class="quick-links">
    <%= link_to "Home", root_path %>
    <%= link_to "Prayer Requests", prayer_requests_path %>
    <%= link_to "Meeting Notes", meeting_notes_path %>
    <% if current_user && current_user.is_admin? %>
      <%= link_to "Approvals", approvals_index_path  %>
      <%= link_to "Links", links_path %>
      
    <%end%>
    <% if @links != nil %>
      <% @links.each do |link| %>
        <%= sanitize link_to(link.label, link.url, target: :blank) %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if current_user != nil %>
      <h3 class="login-text">Logged in as: <%= current_user.full_name %> | <%= link_to "Your Profile", user_path(current_user) %> | <%= link_to "Log out", destroy_user_session_path %></h3>
    <% end %>
  </div>
</div>