<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :label, style: "display: block" %>
    <%= form.text_field :label, class: 'links-input', style: 'width: 40vw' %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url, class: 'links-input', style: 'width: 40vw' %>
  </div>

  <br />

  <div class="button-group">
    <%= link_to links_path do %>
      <button class="links-button with-text danger-button button-group-left"><i class="fa fa-arrow-left"></i> Back</button>
    <% end %>
    <%= form.button class: 'links-button neutral-button button-group-right', type: :submit %>
  </div>
<% end %>
