<div id="<%= dom_id link %>">
  <p>
    <strong>Label:</strong>
    <%= link.label %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= link.order %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= link.user.user_first_name %> <%= link.user.user_last_name %>
  </p>

</div>
