<div class="hero">
  <h1>Links</h1>

  <%= link_to new_link_path do %>
    <button class="success-button links-button with-text">
      <i class="fas fa-plus"></i> Add Link
    </button>
  <% end %>

  <table id="links">
    <thead>
        <tr>
          <th>Edit</th>
          <th>Label</th>
          <th>URL</th>
          <th>Author</th>
          <th>Delete</th>
          <th>Reorder</th>
        </tr>
    </thead>
    <% @links.each_with_index do |link, index| %>
      <tr>
        <td>
          <%= button_to edit_link_path(link), class: 'neutral-button links-button', method: :get do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td><b><%= link.label %></b></td>
        <td><%= link.url %></td>
        <% if link.user == nil %>
          <td>Unknown Author</td>
        <% else %>
          <td>
            <div class="link-author">
            <%= link_to user_path(current_user), class: 'link-author-icon-link' do %>
              <%= image_tag(current_user.avatar_url.present? ? current_user.avatar_url : 'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg?20200418092106', alt: 'User Avatar', class: 'navbar-user-icon') %>
            <% end %>
              <%= link_to(link.user.user_first_name + " " + link.user.user_last_name, user_path(link.user)) %>
            </div>
          </td>
        <% end %>
        <td>
          <%= button_to link_path(link), method: :delete, class: 'danger-button links-button' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
        <td>
          <div class="button-group">
            <!-- Up Button -->
            <%= button_to up_link_path(link),
              method: :patch,
              class: "neutral-button button-group-left links-button",
              disabled: index == 0 do %>
              <i class="fas fa-arrow-up"></i>
            <% end %>
            <!-- Down Button -->
            <%= button_to down_link_path(link),
              method: :patch,
              class: "neutral-button button-group-right links-button",
              disabled: index == @links.length() - 1 do %>
              <i class="fas fa-arrow-down"></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>